<div class="profileDiv">
    <div class="banner2">
        <h2>Update Snippets</h2>
    </div>

{{!-- <section class="crudPosts">
    <div>
        <h3>Edit Post:</h3>
        <form class="update-snippet-form">
            <div>
                <label for="update-snippet-title">Title:</label>
                <input class="form-input" type="text" id="update-snippet-title" name="update-snippet-title" value="{{title}}"/>
            </div>
            <div class="newPosts">
                <div class="newPost">
                    <pre class="code-snippet editor editable-editor" id="update-snippet-content" name="update-snippet-content">{{restoreContent code}}</pre>
                </div>
            </div>
                <input type="hidden" id="hidden-snippet-id" value="{{id}}">
            <div id="snippet-button">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
                <div class="delete-snippet-button">
                <button class="delete-snippet-button" type="submit" data-snippet-id="{{id}}">Delete</button>
            </div>
        </form>
    </div>
</section> --}}
    <div class="profileDiv">
        <div class="allNew">
            <section id="createNew">
                <div class="card-body">
                    <h2 class="card-title">Edit Post</h2>
                    <form class="update-snippet-form">
                        <div class="card-text">
                            <input class="titleInput" type="text" id="update-snippet-title" value="{{title}}">
                        </div>
                        <div class="newPosts">
                            <pre class="editor editable-editor" id="update-snippet-content">{{restoreContent code}}</pre>
                        </div>
                        <input type="hidden" id="hidden-snippet-id" value="{{id}}">
                        <div id="snippet-button">
                            <button type="submit" class="submitbtn">Update</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>