<div class="profileDiv">
    <div class="userBanner">
        <h2>User Created Posts</h2>
        <h1>Here is the dashboard page</h1>
        <h2>Welcome,
            {{#if first_name}}
                {{first_name}}
            {{else}}
                {{username}}!
            {{/if}}
        </h2>
        <h3>Your Posts:</h3>
    </div>

    <section class="profilePosts">
        {{#each snippets as |snippet|}}
        <card class="profilePost">
            <h2 class="postTitle">{{snippet.title}}</h2>
            <p class="postAuthor">- Created on {{format_date snippet.createdAt}}</p>
            <p>{{snippet.code}}</p>
        </card>
        {{/each}}
    </section>
</div>

</section>
<section id="createNew" class="card text-center">
  <div class="card-body">
  <h3 class="card-title">Create New Post</h3>
  <form class="new-snippet-form">
    <div class="card-text"></div>
      <label for="title">Title</label><br>
      <input type="text" id="snippet-title" placeholder="title">
    </div>
    <div class="card-text"></div>
      <label for="content">Content</label>
    <textarea id="snippet-content" placeholder="content"></textarea>
    </div>
    <button id="create">Create</button>
</form>
</div>
</section>
<form id="newpost">
    <button>+ New Post</button>
</form>
<script src="/js/editSnippet.js"></script>