<div class="profileDiv">
    <div class="userBanner">
        <h1>Welcome,
            {{#if first_name}}
                {{first_name}}
            {{else}}
                {{username}}!
            {{/if}}
        </h1>
    </div>

    <form id="newpost">
      <button class="newPostbtn" id="new-post-button">+ New Post</button>
    </form>

    <div class="allNew">
      <section id="createNew" style="display: none;">
        <div class="card-body">
          <h2 class="card-title">Create New Post</h2>
          <form class="new-snippet-form">
            <div class="card-text">
              <input class="titleInput" type="text" id="snippet-title" placeholder="Enter a Title">
            </div>
            <div class="newPosts">
                <pre class="editor editable-editor" id="snippet-content"></pre>
            </div>
            <button class="submitbtn" type="submit">Create</button>
          </form>
        </div>
      </section>
    </div>


    <section class="profilePosts">
        {{#each snippets as |snippet|}}
        <card class="profilePost">
            <a href="/api/snippets/{{snippet.id}}"><h2 class="postTitle">{{snippet.title}}</h2></a>
            <p class="postAuthor">- Created on {{format_date snippet.createdAt}}</p>
            <pre class="code-snippet editor">{{restoreContent snippet.code}}</pre>
        </card>
        {{/each}}
    </section>

  

  

  <script src="/js/editSnippet.js"></script>
</div>