{{!-- DISPLAY POST --}}
<div>
  <div>
    <h2>
      {{title}}
    </h2>
    <p>Created by {{user.username}} on {{format_date createdAt}}</p>
  </div>
  <div class="code-editor">
    <pre class="code-snippet editor">{{restoreContent code}}</pre>
  </div>
</div>



{{!-- EDIT POST IF BELONGS TO USER --}}
{{#if is_own_post}}
  <div>
    <div>
      <a href='/profile/update/{{id}}'><button class="update-snippet-button" type="submit">Update</button></a>
    </div>

    <div>
      <button class="delete-snippet-button" type="submit" data-snippet-id="{{id}}">Delete</button>
    </div>
  </div>
{{/if}}





{{!-- DISPLAY COMMENTS --}}
<div>
  <h2>Comments:</h2>
  {{#each comments as |comment|}}
    <div>
      <pre class="code-snippet">{{{restoreContent comment.comment}}}</pre>
      <p>-- {{format_date comment.createdAt}}</p>
    </div>
  {{/each}}
</div>



{{!-- ADD COMMENT --}}
{{#if logged_in}}
  <div>
    <h3>Add a comment:</h3>

    <form class="new-comment-form">
      <div>
        <label for="comment-content">Comment</label>
        <textarea id="comment-content" name="comment-content"></textarea>
      </div>
      <input type="hidden" id="snippet-id" value="{{id}}">
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
{{else}}
  <div>
    <p>Login in to add your own comments.</p>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
{{/if}}


